PORT=4000
JWT_SECRET=studio_secret_key_2026_super_secure

# Credenciais do Supabase (Obtenha em: Supabase Dashboard -> Settings -> API)
SUPABASE_URL=https://vjprdbcwiuqrknantjfd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqcHJkYmN3aXVxcmtuYW50amZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4OTA2NzgsImV4cCI6MjEwNDQ2NjY3OH0.HqLJyFxsjku-E-Zka4UzkRjiydBqtnuP7SEh5eGbugc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqcHJkYmN3aXVxcmtuYW50amZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODg5MDY3OCwiZXhwIjoyMTA0NDY2Njc4fQ.WmL4zbsSnfp-DpFc5icKXfzCTnpExF6jomlACPmEotc
